/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
params {
    project_dir = projectDir
    params.start_process = 'download'  // Can be 'download' or 'process'
    params.outdir = "${project_dir}/results"
    params.input_isolates = "${project_dir}/data/isolates_input_26_copynumber.csv"
    params.input_metagenomics = "${project_dir}/data/metagenomics_samplesheet.csv"
    params.downloadref_script = "${project_dir}/scripts/download_ref.py"
    params.downloadgenome_script = "${project_dir}/scripts/download_genome.py"
    params.ncbi_email = 'stow_emily@bah.com'
    params.ncbi_api_key = '86d3354165a563e0aa09f4ac42cb7852c608'
}


process {
    executor = 'sge'
    errorStrategy = 'retry'
    maxRetries = 5

    withName: downloadref {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: downloadgenome {
    beforeScript = '''
        source /etc/profile.d/modules.sh
        module load Python/3.7
    '''
    }

    withName: ragtagscaffold {
        container = 'third_party/ragtag.sif'
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: ragtagpatch {
        container = 'third_party/ragtag.sif'
    }

    withName: neatpaired {
        container = "third_party/neat-genreads.sif"
    }
}


singularity {
    enabled = true
}

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${trace_timestamp}.html"
}

