/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
params {
    project_dir = projectDir
    params.input1 = "${project_dir}/data/isolate_reference_samplesheet.csv"
    params.script1 = "${project_dir}/scripts/ncbi_auto/isolate_accession_to_list_nf_2.py"
    params.script2 = "${project_dir}/scripts/ncbi_auto/fasta_isolate_pull_nf.sh"
    params.script3 = "${project_dir}/scripts/ncbi_auto/taxon_pull_allisolates_nf.py"
    params.script4 = "${project_dir}/scripts/ncbi_auto/refseq_pull_allisolates_nf.py"
    params.script5 = "${project_dir}/scripts/ncbi_auto/fasta_pull_nf.sh"
    params.outdir = "${project_dir}/results"
}


process {
    executor = 'sge'
    errorStrategy = 'retry'
    maxRetries = 3

    withName: isolateaccessiontolist {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: fastaisolatepull {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Entrez/15.5
        '''
    }

    withName: taxonpullallisolates {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: refseqpullallisolates {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: fastareferencepull {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Entrez/15.5
        '''
    }

    withName: ragtagscaffold {
        container = 'third_party/ragtag.sif'
    }

    withName: ragtagpatch {
        container = 'third_party/ragtag.sif'
    }

    withName: neatpaired {
        container = "third_party/neat-genreads.sif"
    }
}


singularity {
    enabled = true
}

