/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
params {
    project_dir = projectDir
    params.start_process = 'download'  // Can be 'download' or 'process'
    params.outdir = "${project_dir}/results"
    params.input = "${project_dir}/scripts/ncbi_auto/main_new/samplesheet.csv"
    params.script1 = "${project_dir}/scripts/ncbi_auto/main_new/download_isolate_2.py"
    params.script2 = "${project_dir}/scripts/ncbi_auto/main_new/find_species.py"
    params.script3 = "${project_dir}/scripts/ncbi_auto/main_new/fasta_isolate_pull_nf.sh"
    params.script4 = "${project_dir}/scripts/ncbi_auto/main_new/taxon_pull_allisolates_nf.py"
    params.script5 = "${project_dir}/scripts/ncbi_auto/main_new/refseq_pull_allisolates_nf.py"
}


process {
    executor = 'sge'
    errorStrategy = 'retry'
    maxRetries = 3

    withName: downloadisolate {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: findspecies {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: refseqpullallisolates {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
            module load Entrez/15.5
        '''
    }

    withName: fastareferencepull {
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Entrez/15.5
        '''
    }

    withName: ragtagscaffold {
        container = 'third_party/ragtag.sif'
        beforeScript = '''
            source /etc/profile.d/modules.sh
            module load Python/3.7
        '''
    }

    withName: ragtagpatch {
        container = 'third_party/ragtag.sif'
    }

    withName: neatpaired {
        container = "third_party/neat-genreads.sif"
    }
}


singularity {
    enabled = true
}


