/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run main -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/
//process.executor = 'sge'
//process.penv = 'smp'

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 16
    max_memory = '10.GB'
    max_time   = '6.h'

    // Input data
    input  = '/scicomp/home-pure/tkq5/amr-metagenomics/assets/samplesheets/samplesheet.csv'
    isolates = '/scicomp/home-pure/tkq5/amr-metagenomics/assets/samplesheets/isolate_samplesheet.csv'
    mode = 'local'
    ncbi_email = 'tkq5@cdc.gov' 
    ncbi_api_key = '9251e3c2193fce7cbd900694cc20256f6708'
    postsim = true
   
    // Genome references
    genome = null
}
